<!-- <h1>Projects#index</h1> -->
<ul>
	<% @projects.each do |p| %>
		<li>
			<%= link_to(p.name, project_entries_path(p)) %>
			<% if p.description %>
				<%= p.description %>
			<% end %>
		</li>
	<% end %>
</ul>
<!-- <p>Find me in app/views/projects/index.html.erb</p> -->
