
<h1>IRON Blog</h1>

<h2>Add new post:</h2>

<form action="/blog/create_post" method="POST">
	<input type="string" name="title" placeholder="Title">
	<input type="string" name="author" placeholder="Author">
	<input type="string" name="category" placeholder="Category">
	<input type="string" name="text" placeholder="Text" style="width:100%">

	<button type="submit">Create</button>
</form>