<h1>Javi's T-Shirt Store</h1>

<form action="/login" method="POST">
	<input type="string" name="username" placeholder="username" value="<%= @first_number %>">
	<input type="password" name="password" placeholder="password">

	<button type="submit">Log in</button>
</form>