<h1><%= @user.name %></h1>
<br>
<h4>Products</h4>
<ul>
	<% @products.each do |product| %>
		<li>
			<%= link_to(product.title, user_product_path(@user, product)) %>
		</li>
	<% end %>
</ul>
<div>
<%= link_to('Add new product', new_user_product_path(@user)) %>
<br>
<%= link_to('Back to user', user_path(@user)) %>
</div>