
.blue {
	background-color: blue;
	border: solid red;
}

.green {
	background-color: green;
}

.box[id="red"] {
	background-color: red;
	border: solid blue;
}

.box[id="top"] {
	position: absolute;
	top: 350px;
	left: 350px;
	z-index: 2;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}

.box[id="bottom"] {
	position: absolute;
	top: 400px;
	left: 500px;
}

.box {
	margin: 10px;
	float: left;
}

h3.direction {
	padding: 20%;
}