
* {
    /*border: 1px solid black;*/
}

.header-logo {
    margin-right: 10px;
    margin-top: 9px;
}

.body-board-view {
    background-size: cover;
    overflow: hidden;
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
}

.video-bkg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

/*#surface, body, html {
    height: 100%;
    width: 100%;
}*/


.header {
	padding: 20px;
}

ol, ul {
    margin-bottom: 0;
}

.btn-header {
    background: 0 0;
    color: #fff;
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
}

.btn-header:hover {
    color: #fff;
    background-color: rgba(255,255,255,.2);
}