<h1>Movie Lovers</h1>

<h2>Search for:</h2>

<form action="/search" method="POST">
	<input type="string" name="term" placeholder="term to search for">
	<input type="string" name="max_results" placeholder="max results">

	<button type="submit" name="search_type" value="term">Go!</button>
	<button type="submit" name="search_type" value="random">Random!</button>
</form>
